# 문자열을 다룰 때 가장 많이 사용하는 메서드① : split

In [1]:
a = '신명진 신예별 신예라'

엑셀의 열 구분 : "\t"
엑셀의 행 구분 : "\r\n"
txt파일의 줄바꿈 : "\n"
아래아한글 줄바꿈 : "\r\n"

In [2]:
a.split()

['신명진', '신예별', '신예라']

split은 기본적으로 스페이스(" ")를 기준으로 문자열을 잘라 리스트로 만듭니다.
다른 문자열을 기준으로 자르고 싶다면 해당 문자열을 괄호 안에 넣으면 됩니다.

In [3]:
b = "hello\nworld"
c = b.split("\n")
print(c)

['hello', 'world']

리스트 끝에 요소 하나를 추가하고 싶을 때에는 append 메서드를 사용하면 됩니다.

In [5]:
a = a.split()
a.append("안서올")

In [6]:
a.append("최준영")

In [7]:
a

['신명진', '신예별', '신예라', '안서올', '최준영']

In [8]:
# "a 리스트의 첫 번째 요소가 '진'으로 끝나?"라고 파이썬에게 물어보고 싶습니다.

a[0].endswith("진")  # "맞습니다."라고 대답해주네요.

True

In [9]:
# "'신'씨 성을 가진 사람만 골라서 d라는 리스트에 넣어줘" 라고 파이썬에게 부탁해봅니다.

d = []
for name in a:
    if name.startswith("신"):
        d.append(name)

In [10]:
d

['신명진', '신예별', '신예라']

# 리스트를 하나의 문자열로 병합(join)하는 방법

In [12]:
# 병합할 요소들 사이에 들어갈 문자열을 먼저 쓰고, 병합문자열.join(리스트) 방식으로 사용합니다.

e = " ".join(d)
e

'신명진 신예별 신예라'

# 문자열을 다룰 때 가장 많이 사용하는 메서드② : replace

In [13]:
e = e.replace(" ", ".")
e

'신명진.신예별.신예라'

### e라는 리스트 안에 온점(".")이 몇 개 있는지 출력하는 함수를 찾거나 만드시오.

In [16]:
# 아래처럼 작성해도 되고

total = 0
for i in e:
    if i == ".":
        total += 1
print(total)

2

In [18]:
# 문자열에는 count라는 메서드를 기본적으로 제공하고 있습니다. 간단하죠?

e.count(".")

2

# 오늘의 실습
"2023-06-23" 형식의 날짜 문자열을

"2023. 6. 23." 형식으로 변환하기

In [24]:
dates = ["2023-06-23", "2023-01-01", "1983-02-26"]

In [25]:
# 구분기호를 ". "으로 바꾸기
dates = [i.replace("-", ". ")+"." for i in dates]
dates

['2023. 06. 23.', '2023. 01. 01.', '1983. 02. 26.']

거의 다 된 것 같은데 "2023. 06. 23."은 "2023. 6. 23."으로 변경하고 싶어요.

조금 번거롭지만 replace나 슬라이싱을 써야 할 것 같네요.

In [35]:
# 실제로는 이렇게 불편하게 코딩하지 않습니다... 대신 datetime.date를 사용하면 엄청나게 간편해집니다.

dates = [
    "2023-06-23",
    "2000-01-01",
    "1983-02-26",
]

for idx, val in enumerate(dates):
    if val[8] == "0":
        val = val[:8] + val[9:]
    if val[5] == "0":
        dates[idx] = val[:5] + val[6:]
dates = [i.replace("-", ". ") + "." for i in dates]
dates  # 완성되기는 했지만, 뭔가 아쉽습니다. 코드가 너무 복잡하잖아요?

['2023. 6. 23.', '2000. 1. 1.', '1983. 2. 26.']

# 날짜 문자열을 다루는 최선의 방법 : datetime 모듈 사용해보기

In [36]:
import datetime as dt

datetime.date를 사용하여 날짜 객체를 생성합니다.

In [46]:
today = dt.date(2023, 6, 23)
today

datetime.date(2023, 6, 23)

today 인스턴스 안에서는 year, month, day 등의 시맨틱 속성을 사용할 수 있습니다.

In [47]:
today.year  # 연

2023

In [48]:
today.month  # 월

6

In [49]:
today.day  # 일

23

In [50]:
today.weekday()  # 요일(0이 월요일, 1이 화요일, 4는 금요일..)

4

date 객체를 문자열로 변환할 때는 strftime을 사용합니다.(STRingFormat of TIME의 약자)

In [51]:
today = today.strftime("%Y. %#m. %#d.")
today  # 우리가 원했던 포맷변환이 한 줄로 처리되었습니다.

'2023. 6. 23.'

(위와 반대로) 날짜 서식의 문자열에서 date 객체를 생성하려면?

아래처럼 dt.datetime.strptime을 사용하면 됩니다. (STRing-Parsed TIME의 약자)

In [57]:
yesterday = "2023-06-22"
yesterday = dt.datetime.strptime(yesterday, "%Y-%m-%d")
yesterday

datetime.datetime(2023, 6, 22, 0, 0)

datetime 객체는 timedelta를 통한 덧셈뺄셈 연산이 가능합니다.

In [59]:
# 어제 날짜에서 20일 후는 언제인가?
target_date = yesterday + dt.timedelta(days=20)
target_date.strftime("%Y. %#m. %#d.")

'2023. 7. 12.'

In [60]:
# 해당 일자는 무슨 요일인가?
weekdays = "월화수목금토일"
weekdays[target_date.weekday()]

'수'

해당 일자인 7월 12일은 수요일이군요! 끝.